
.assembly-zone {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 243px;
    height: 480px;
    padding: 0 50px;
    transition: background 0.2s ease-in-out;

    text-align: center;
    border-radius: 6px;

    &_empty {
      justify-content: center;
      gap: 0;
      border: 2px dashed #C4C4C4;
    }

    &_drag_over {
      background: #F0F9FF;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #6B7280;

    &_big {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      color: #5D5FEF;
      margin-top: 4px;
    }
  }
}