@import '/src/styles/variables.scss';

.assembly-zone {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 243px;
    height: 480px;
    padding: 0 50px;
    transition: background 0.2s ease-in-out;

    text-align: center;
    border-radius: 6px;

    &_empty {
      justify-content: center;
      gap: 0;
      border: 2px dashed #C4C4C4;
    }

    &_drag_over {
      background: #F0F9FF;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #6B7280;

    &_big {
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      color: $iris;
      margin-top: 4px;
    }
  }

  &__part {
    position: relative;
    padding: 8px 4px;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      
      background-color: transparent;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background-color 0.2s ease-in-out;
    }
    
    &_insert{
      &_before {
        border-top-color: $iris;
        &::before, &::after { background-color: $iris; }
        &::before { top: -1px; left: 0; }
        &::after { top: -1px; left: 100%; }
      }
      &_after {
        border-bottom-color: $iris;
        &::before, &::after { background-color: $iris; }
        &::before { top: 100%; left: 0; }
        &::after { top: 100%; left: 100%; }
      }
    }
    
    :active {
      opacity: 0.5;
    }
  }
}