.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 52px;
  padding: 16px;

  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: #E2E3E5;
  }

  &_size {
    &_lg {
      padding: 24px;
    }
  }

  &_variant {
    &_filled {
      color: #FFFFFF;
      border: none;
      background: #5D5FEF;

      &:hover {
        background: #4a4cbe;
      }
    }
  }
}